.choice-section {
    margin-top: 20px;
    display: none; /* Hide all sections initially */
}
.btn-choice {
    margin: 10px 5px;
}
.navigation-btns {
    margin-top: 30px;
}
.error-message {
    color: red;
    display: none; /* Hide error messages initially */
}
.schedule-day {
    margin-bottom: 10px;
}
.holiday-date {
    margin-bottom: 10px;
}

